# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
dist/

# typescript
*.tsbuildinfo
next-env.d.ts

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/

# vercel
.vercel
